.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
coverage/
deploy-docs.sh

# Editor directories and files
.editorconfig
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo
